# Virtual environment
/dev/

# configuration files
lmslogger.service

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# VS Code settings
.vscode/

# Logs
*.log

# Distribution / packaging
*.egg-info/
dist/
build/

# System files
.DS_Store

# Coverage
.coverage
