[Unit]
Description=LMS Logger Daemon
After=network.target

[Service]
Type=simple
User=nobody
Group=nobody
WorkingDirectory=$RUNDIR/src
ExecStart=$EXECCMD -m lmslogger.daemon --env-file $RUNDIR/lmslogger.env

Restart=always
RestartSec=5

[Install]
WantedBy=default.target
